.button {
  height: 26px;
  color: white;
  border: none;
  width: 80px;
  margin: 5px;
  border-radius: 5px;
  font-size: 9px;
  font-weight: bold;
  background-color: #1e1e20;
  &:focus {
    outline: none;
  }

}
