.header{
  padding: 50px;
  margin-bottom: 50px;
  background-color: #282c34;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "DeVinne Txt BT", serif;
  position: relative;


  &-link-card{
    position: relative;
  }

  &-links {
    color: #ffffff;
    text-decoration: none;

  }
  &-card-list{
    position: absolute;
    width: 300px;
    background-color: teal;
    right: -17px;
    top: 54px;
  }
}
